[Desktop Entry]
Version=1.0
Name=Allegro
Comment=Allegro
Exec=omarchy-launch-webapp https://allegro.pl/
Terminal=false
Type=Application
Icon=allegro
StartupWMClass=chrome-allegro.pl__-Default
StartupNotify=true
