[Desktop Entry]
Version=1.0
Name=Koleo
Comment=Koleo
Exec=omarchy-launch-webapp https://koleo.pl/
Terminal=false
Type=Application
Icon=koleo
StartupNotify=true
