[Desktop Entry]
Version=1.0
Name=OLX
Comment=OLX
Exec=omarchy-launch-webapp https://www.olx.pl/
Terminal=false
Type=Application
Icon=olx
StartupWMClass=chrome-www.olx.pl__-Default
StartupNotify=true
