[Desktop Entry]
Version=1.0
Name=Temu
Comment=Temu
Exec=omarchy-launch-webapp https://www.temu.com/pl
Terminal=false
Type=Application
Icon=temu
StartupWMClass=chrome-www.temu.com__pl-Default
StartupNotify=true
