[Desktop Entry]
Version=1.0
Name=Tinder
Comment=Tinder
Exec=omarchy-launch-webapp https://tinder.com/app/recs
Terminal=false
Type=Application
Icon=tinder
StartupWMClass=chrome-tinder.com__app_recs-Default
StartupNotify=true
