[Desktop Entry]
Version=1.0
Name=X
Comment=X
Exec=omarchy-launch-webapp https://x.com/home
Terminal=false
Type=Application
Icon=x
StartupWMClass=chrome-x.com__home-Default
StartupNotify=true
